
/* Hero */
#hero {
    background: url('/foto/bela1.jpg') no-repeat center center;
    background-size: cover;
    color: white; /* Biały tekst */
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 300px;
    background-position: center;
  }
  
  #hero p {
    font-size: 1.5rem;
  }
  
  #hero h1 {
    font-size: 56px;
    margin-bottom: 20px;
    margin-top: -30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  #hero button {
    background-color: red;
    border: none;
    margin-top: 20px;
    padding: 15px 25px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  #hero button:hover {
    background-color: #ce2727;
  }
  
  
  
  
  /* Sekcja "O nas" */
  #about {
    background-color: #ebecec;
    padding: 60px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }
  
  #about .section-title {
    font-size: 2.5rem;
    color: #2a1313; /* Pomarańczowy */
    margin-bottom: 30px;
  }
  
  #about .section-description {
    font-size: 1.5rem;
    color: #000000;
  }

  .section-description {
    text-align: center;
    font-size: 1.5rem;
    color: #000000; /* Subtelny szary */
    margin-bottom: 20px;
    line-height: 1.5;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  
  
  
  /* Modal */
  .reservation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .reservation-modal.active {
    opacity: 1;
    visibility: visible;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px 30px;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;  /* Dodane, żeby 'X' był pozycjonowany w ramach tego kontenera */
  }
  
  .close-modal {
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: red;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;  /* Umieszczamy w prawym górnym rogu formularza */
    z-index: 1001;
  }
  
  h2 {
    margin-bottom: 20px;
    position: relative;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-row {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .form-row label {
    font-size: 1rem;
    color: #333;
    flex: 1;
    text-align: right;
  }
  
  .form-row input, 
  .form-row textarea {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  textarea {
    resize: none;
  }
  
  button[type="submit"] {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #ce2727;
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 4px;
  }



  /* Styl dla potwierdzenia rezerwacji */
.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.confirmation-modal.active {
  opacity: 1;
  visibility: visible;
}

.confirmation-content {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.confirmation-content h2 {
  font-size: 24px;
  color: #4CAF50; /* Zielony kolor */
  margin-bottom: 10px;
}

.confirmation-content p {
  font-size: 16px;
  color: #555;
}

  
  
  
  
  
  /* Sekcja "Dlaczego my" */
  #why-us {
    background-color: #d1d1d1; 
    padding: 60px 20px;
    text-align: center;
  }
  
  #why-us .section-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #2a1313;
  }
  
  #why-us ul {
    list-style: none;
    font-size: 1.5rem;
    color: white;
  }
  
  #why-us ul li {
    margin-bottom: 15px;
    color: black;
  }
  
  
  
  
  
  
  /* Sekcja "Opinie" */
  #testimonials {
    background: #ebecec;
    color: #000000;
    padding: 60px 20px;
    text-align: center;
  }
  
  #testimonials .section-title {
    font-size: 2.5rem;
    color: #2a1313;
    margin-bottom: 30px;
  }
  
  #testimonials blockquote {
    font-size: 1.5rem;
    max-width: 40%;
    margin: 20px auto;
    padding-left: 30px;
    border-left: 5px solid black;
    font-style: italic;
    color: #000000;
  }
  
